@font-face {
    font-family: 'Univa Nova';
    src: url('UnivaNova-Bold.woff2') format('woff2'),
        url('UnivaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('UnivaNova-SemiBold.woff2') format('woff2'),
        url('UnivaNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('UnivaNova-Medium.woff2') format('woff2'),
        url('UnivaNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univa Nova';
    src: url('UnivaNova-Regular.woff2') format('woff2'),
        url('UnivaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

